.paginator-container {
    padding: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.paginator-button {
    border: none;
    outline: none;
    background: none;
}

.paginator-icon {
    font-size: 64px;
}